body {
  background: #ece7e7;
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    .App-logo {
      animation: App-logo-spin infinite 8s linear;
      height: 40vmin;
    }
    .App-title {
      text-align: center;
      padding: 0.67em 0;
      background: #FF9900;
      width: 100%;
    }
    .form button {
      font-size: 2rem;
    }
  }
  .profitable-only-checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding: 7px;
  }
  .win {
    background-color: rgba(0, 255, 0, 0.1);
  }
  .loss {
    background-color: rgba(253, 0, 0, 0.1);
  }
  tr {
    &.win {
      background-color: rgba(0, 255, 0, 0.15);
    }
    &.loss {
      background-color: rgba(253, 0, 0, 0.15);
    }
  }
  .no-padding {
    padding: 0;
  }
  .full-width {
    width: 100%;
  }
  .sold {
    text-decoration: line-through;
  }
  .add-purchase-form {
    .control-label {
      padding-top: 12px;
      padding-right: 0;
      padding-left: 0;
    }
    .btn-default {
      font-size: 23px;
    }
    .checkbox input[type=checkbox] {
      position: relative;
      margin-left: 0;
    }
  }
  .form-control, .btn, select {
    border-radius: 0;
  }
  .delete-purchase-button {
    background: transparent;
    color: #d43f3a;
    position: absolute;
    left: 0;
    top: 0;
  }

  .td-icon {
    padding: 0 !important;
    background: #f3f3f3;
    text-align: center !important;
  }

  .react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
  }

  .table > tbody > tr:hover {
    cursor: pointer;
    opacity:1;
  }
  .market-container {
    .table > tbody > tr {
      opacity: 0.9;
    }
    .table > tbody > tr:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input {
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    button {
      outline: 0;
      background: #FF9900;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #e39013;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #e39013;
    cursor: pointer;
    text-decoration: none;
  }
  // .container {
  //   position: relative;
  //   z-index: 1;
  //   max-width: 300px;
  //   margin: 0 auto;
  // }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    .form {
      background: #FFFFFF;
      button {
        text-transform: uppercase;
      }
    }
  }
  .navbar {
    background-color: #343a40;
    border-radius: 0;
    .navbar-brand {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 2px;
      cursor: pointer;
    }
  }
    // body {
      //   background: #76b852; /* fallback for old browsers */
      //   background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  //   background: -moz-linear-gradient(right, #76b852, #8DC26F);
  //   background: -o-linear-gradient(right, #76b852, #8DC26F);
  //   background: linear-gradient(to left, #76b852, #8DC26F);
  //   font-family: "Roboto", sans-serif;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;      
  // }
  
  // @media print {
  //   .printable {
  //     display:block;
  //   }
  // }
}


@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
